In [1]:
import numpy as np
import pandas as pd 
import requests as re
import time 
import datetime
import requests
from bs4 import BeautifulSoup

# 整理西元日期用於上市/民國用於上櫃（當日資料）

In [23]:
# 整理今日日期 用於上櫃資料（民國日期）

today = datetime.date.today()
year = str(int(str(today)[0:4])-1911)
month = str(today)[5:7]
day = str(today)[8:10]
todate = year + '/' + month +'/' + day
print(todate)

# 西元日期
cdate = str(today)[0:4]+str(today)[5:7]+str(today)[8:10] 
print(cdate)

#如超過日期可進行輸入
#cdate = '20210518'

110/05/19
20210519

# 上市

In [3]:
# 上市 外資投信的網頁
sitca="https://www.twse.com.tw/fund/TWT44U?response=html&date=%s"%cdate
foreign="https://www.twse.com.tw/fund/TWT38U?response=html&date=%s"%cdate
b='b'
s='s'

In [4]:
# 外資投信上市
def tw(sf, bors):
    data2  = pd.read_html(sf)
    df2 = data2[0]
    
    if "44" in sf:
        need2 = [df2.columns[1], df2.columns[2], df2.columns[5]]
        alldata = df2[need2] #把資料換成dataframe
                
        if bors == "s":
            alldata.columns = ['代號','名稱','投信賣超']
        else:
            alldata.columns = ['代號','名稱','投信買超']
            
    else:
        need2 = [df2.columns[1], df2.columns[2], df2.columns[11]]
        alldata = df2[need2] #把資料換成dataframe
                
        if bors =="s":
            alldata.columns = ['代號','名稱','外資賣超']
            for i in range(len(alldata.index)):
                if len(alldata["代號"][i])>4:
                    alldata=alldata.drop(index=i)
        else:
            alldata.columns = ['代號','名稱','外資買超']
            for i in range(len(alldata.index)):
                if len(alldata["代號"][i])>4:
                    alldata=alldata.drop(index=i)
            
    alldata = alldata.reset_index(drop=True)
    
    
    if bors=="s":
        inds = alldata.loc[alldata.iloc[:,2]<0].index    
        selldata = alldata.iloc[inds,:].reset_index(drop =True) #外資淨賣超
        return selldata
    
    else:
        indb = alldata.loc[alldata.iloc[:,2]>0].index #取得index的數字再放到loc裡
        buydata = alldata.iloc[indb,:].reset_index(drop = True) #外資淨買超
        return buydata

In [5]:
total_buy = pd.merge(tw(foreign,b),tw(sitca,b),on=['代號','名稱'],how='outer')
total_sell = pd.merge(tw(foreign,s),tw(sitca,s),on=['代號','名稱'],how='outer')

In [6]:
total = pd.merge(total_buy,total_sell,on=['代號','名稱'], how= 'outer')
for i in range(len(total)):
    if len(total['代號'][i])>4:
        total = total.drop(index=i)
total

       代號     名稱        外資買超       投信買超    外資賣超        投信賣超
0    3481     群創  76115290.0        NaN     NaN   -352000.0
1    2303     聯電  37484751.0  6290000.0     NaN         NaN
2    2344    華邦電  33156420.0        NaN     NaN         NaN
3    2609     陽明  24872810.0   100000.0     NaN         NaN
4    2409     友達  21746200.0        NaN     NaN -30275000.0
..    ...    ...         ...        ...     ...         ...
923  5533     皇鼎         NaN        NaN -1000.0         NaN
924  8411  福貞-KY         NaN        NaN -1000.0         NaN
925  8463    潤泰材         NaN        NaN -1000.0         NaN
926  8480  泰昇-KY         NaN        NaN -1000.0         NaN
927  9926     新海         NaN        NaN -1000.0         NaN

[928 rows x 6 columns]

# 取得同步買超,一買一賣,同步賣超

## 同步買超

In [7]:
total[(total['外資買超']>0) &(total['投信買超']>0)]

       代號      名稱        外資買超       投信買超  外資賣超  投信賣超
1    2303      聯電  37484751.0  6290000.0   NaN   NaN
3    2609      陽明  24872810.0   100000.0   NaN   NaN
5    2882     國泰金  19368300.0  2368000.0   NaN   NaN
6    2317      鴻海  16504010.0   141000.0   NaN   NaN
7    2881     富邦金  16208676.0  2285000.0   NaN   NaN
..    ...     ...         ...        ...   ...   ...
605  8464      億豐     14962.0    33000.0   NaN   NaN
607  6415   矽力-KY     13076.0     1000.0   NaN   NaN
635  2849     安泰銀      5000.0     3000.0   NaN   NaN
640  1476      儒鴻      3705.0    20000.0   NaN   NaN
664  1590  亞德客-KY       493.0    36000.0   NaN   NaN

[94 rows x 6 columns]

## 外資買投信賣

In [19]:
#外資買投信賣
total[(total['外資買超']>0) &(total['投信賣超']<0)].reset_index(drop=True)

      代號     名稱        外資買超  投信買超  外資賣超        投信賣超
0   3481     群創  76115290.0   NaN   NaN   -352000.0
1   2409     友達  21746200.0   NaN   NaN -30275000.0
2   2481     強茂   2982000.0   NaN   NaN  -1000000.0
3   2014     中鴻   2157200.0   NaN   NaN  -1048000.0
4   3006    晶豪科   1965826.0   NaN   NaN    -20000.0
5   2387     精元   1285000.0   NaN   NaN  -1069000.0
6   2027    大成鋼   1243295.0   NaN   NaN  -1842000.0
7   3413     京鼎    749000.0   NaN   NaN   -100000.0
8   2637  慧洋-KY    723581.0   NaN   NaN  -1041000.0
9   2456    奇力新    688000.0   NaN   NaN    -15000.0
10  8150     南茂    604777.0   NaN   NaN   -813000.0
11  3092     鴻碩    564000.0   NaN   NaN  -1105000.0
12  2106     建大    544000.0   NaN   NaN   -130000.0
13  3708   上緯投控    444000.0   NaN   NaN   -270000.0
14  2727     王品    386166.0   NaN   NaN   -153000.0
15  9802  鈺齊-KY    386128.0   NaN   NaN    -10000.0
16  6416   瑞祺電通    358000.0   NaN   NaN   -143000.0
17  2031    新光鋼    331000.0   NaN   NaN   -590000.0
18  1736     喬山    277000.0   NaN   NaN   -137000.0
19  1440     南紡    256200.0   NaN   NaN  -8261000.0
20  6438     迅得    253000.0   NaN   NaN   -333000.0
21  3257    虹冠電    239000.0   NaN   NaN   -108000.0
22  3706     神達    236000.0   NaN   NaN   -194000.0
23  1515     力山    200000.0   NaN   NaN    -20000.0
24  2723  美食-KY    149000.0   NaN   NaN    -80000.0
25  5243  乙盛-KY    136000.0   NaN   NaN   -242000.0
26  6756   威鋒電子    121000.0   NaN   NaN   -107000.0

## 外資賣，投信買

In [20]:
total[(total['外資賣超']<0) &(total['投信買超']>0)].reset_index(drop=True)

      代號      名稱  外資買超       投信買超       外資賣超  投信賣超
0   3037      欣興   NaN  1067000.0 -2942272.0   NaN
1   3189      景碩   NaN   645000.0 -3561548.0   NaN
2   0050  元大台灣50   NaN   548000.0 -1395367.0   NaN
3   2368     金像電   NaN   454000.0 -2705000.0   NaN
4   3017      奇鋐   NaN   404000.0  -420363.0   NaN
5   8081      致新   NaN   330000.0 -1403300.0   NaN
6   0056   元大高股息   NaN   300000.0  -793712.0   NaN
7   2006    東和鋼鐵   NaN   218000.0  -754000.0   NaN
8   8454     富邦媒   NaN   151000.0   -34348.0   NaN
9   5471      松翰   NaN   118000.0  -929900.0   NaN
10  6781  AES-KY   NaN   104000.0   -45000.0   NaN
11  2385      群光   NaN   100000.0 -1294633.0   NaN
12  2377      微星   NaN    91000.0  -312437.0   NaN
13  1904      正隆   NaN    70000.0 -1120298.0   NaN
14  2383     台光電   NaN    60000.0  -480456.0   NaN
15  2347      聯強   NaN    50000.0  -981186.0   NaN
16  2458      義隆   NaN    41000.0  -702904.0   NaN
17  6456  GIS-KY   NaN    40000.0  -424000.0   NaN
18  3533      嘉澤   NaN    35000.0   -32629.0   NaN
19  2801      彰銀   NaN    30000.0 -1838000.0   NaN
20  8046      南電   NaN    30000.0 -2793744.0   NaN
21  1101      台泥   NaN    21000.0  -126072.0   NaN
22  1326      台化   NaN    17000.0  -672600.0   NaN
23  2408     南亞科   NaN    16000.0  -578781.0   NaN
24  2834     臺企銀   NaN    11000.0 -9000250.0   NaN
25  1102      亞泥   NaN    10000.0 -5288140.0   NaN
26  2633    台灣高鐵   NaN     9000.0 -3874200.0   NaN
27  4904      遠傳   NaN     9000.0  -416400.0   NaN
28  2324      仁寶   NaN     7000.0 -3120111.0   NaN
29  2812     台中銀   NaN     6000.0 -1858733.0   NaN
30  2382      廣達   NaN     5000.0 -8700330.0   NaN
31  3231      緯創   NaN     4000.0 -6061445.0   NaN
32  2352     佳世達   NaN     3000.0  -357909.0   NaN
33  3702     大聯大   NaN     3000.0  -360350.0   NaN
34  2395      研華   NaN     2000.0  -180900.0   NaN
35  2809     京城銀   NaN     2000.0  -202000.0   NaN
36  1308      亞聚   NaN     1000.0 -3109000.0   NaN
37  2474      可成   NaN     1000.0  -673576.0   NaN
38  3008     大立光   NaN     1000.0   -22529.0   NaN
39  4919      新唐   NaN     1000.0   -32003.0   NaN
40  6176      瑞儀   NaN     1000.0  -111902.0   NaN
41  6409      旭隼   NaN     1000.0    -1708.0   NaN
42  6412      群電   NaN     1000.0  -326000.0   NaN

## 外資投信同步賣

In [21]:
total[(total['外資賣超']<0) & (total['投信賣超']<0)].reset_index(drop=True)

      代號     名稱  外資買超  投信買超        外資賣超       投信賣超
0   2353     宏碁   NaN   NaN -16793893.0   -19000.0
1   2103     台橡   NaN   NaN  -4872000.0 -1030000.0
2   1802     台玻   NaN   NaN  -4653700.0  -272000.0
3   2449   京元電子   NaN   NaN  -1653557.0  -486000.0
4   8016     矽創   NaN   NaN  -1407000.0  -610000.0
5   3044     健鼎   NaN   NaN   -852000.0  -190000.0
6   3665  貿聯-KY   NaN   NaN   -838200.0  -443000.0
7   2606     裕民   NaN   NaN   -762700.0  -241000.0
8   2308    台達電   NaN   NaN   -643734.0   -68000.0
9   6213     聯茂   NaN   NaN   -445000.0   -35000.0
10  6239     力成   NaN   NaN   -440205.0  -191000.0
11  3711  日月光投控   NaN   NaN   -340920.0   -77000.0
12  3661  世芯-KY   NaN   NaN    -79000.0   -26000.0