In [1]:
%matplotlib inline 
import pandas as pd
import numpy as np
import requests as web
import datetime

## 讀取期貨未平倉

In [2]:
df = pd.read_html("https://www.taifex.com.tw/cht/3/futContractsDate")

In [3]:
f = df[3]
f = f.iloc[0:12,1:]
for i in range(3,9):
    f=f.drop(index=i)

In [4]:
f

   Unnamed: 1_level_0 Unnamed: 2_level_0 交易口數與契約金額                    \
   Unnamed: 1_level_1 Unnamed: 2_level_1        多方                空方
                 商品名稱                身份別        口數       契約金額     口數
0                臺股期貨                自營商     14793   50805208  16498
1                臺股期貨                 投信     18431   63462027  17942
2                臺股期貨                 外資     73391  252418341  69076
9              小型臺指期貨                自營商     16639   14270742  17097
10             小型臺指期貨                 投信        19      16351     17
11             小型臺指期貨                 外資     67549   58055203  64939

                               未平倉餘額                                     \
               多空淨額               多方               空方              多空淨額
         契約金額    口數      契約金額     口數      契約金額     口數       契約金額     口數
0    56747538 -1705  -5942330  28213  96953991   5766   19782122  22447
1    61752391   489   1709636  14706  50711343  17830   61465194  -3124
2   237548313  4315  14870028  23072  79564237  47607  163882916 -24535
9    14675877  -458   -405135  26110  22439344  24817   21323269   1293
10      14670     2      1681    103     88898      0          0    103
11   55811029  2610   2244174   7182   6201006   1985    1709774   5197



        契約金額
0   77171869
1  -10753851
2  -84318679
9    1116075
10     88898
11   4491232

In [5]:
today = str(datetime.date.today())
today = today[0:4]+today[5:7]+today[8:10]
today

'20210419'

In [6]:
margin = pd.read_html("https://www.twse.com.tw/exchangeReport/MI_MARGN?response=html&date=%s&selectType=MS"%(today))[0]

In [9]:
m = pd.read_html("https://www.twse.com.tw/exchangeReport/MI_MARGN?response=html&date=20210415&selectType=MS")[0]
m

  110年04月15日 信用交易統計
                 項目        買進        賣出 現金(券)償還       前日餘額       今日餘額
0          融資(交易單位)    707787    516904   10526    9269615    9449972
1          融券(交易單位)     25612     43680   10526     519226     526768
2          融資金額(仟元)  18793976  13987548  211548  240764227  245359107

In [17]:
m[m.columns[4]]

0      9269615
1       519226
2    240764227
Name: (110年04月15日 信用交易統計, 前日餘額), dtype: int64

In [16]:
m.columns['增減']=m[m.columns[5]]-m[m.columns[4]]

TypeError: Index does not support mutable operations

In [104]:
pc = pd.read_html("https://www.taifex.com.tw/cht/3/pcRatio")[3]

In [105]:
pc

           日期   賣權成交量   買權成交量  買賣權成交量比率%  賣權未平倉量  買權未平倉量  買賣權未平倉量比率%
0   2021/4/16  390312  385524     101.24  341705  225880      151.28
1   2021/4/15  350937  339821     103.27  309323  202957      152.41
2   2021/4/14  907420  911296      99.57  243117  166907      145.66
3   2021/4/13  576146  532583     108.18  356300  259904      137.09
4   2021/4/12  352493  330036     106.80  334263  251427      132.95
5    2021/4/9  296121  293863     100.77  293517  228535      128.43
6    2021/4/8  316653  283902     111.54  263495  194892      135.20
7    2021/4/7  422868  439153      96.29  196528  151059      130.10
8    2021/4/6  413187  374567     110.31  300087  224473      133.69
9    2021/4/1  260931  243273     107.26  233998  184188      127.04
10  2021/3/31  495630  533282      92.94  168107  139503      120.50
11  2021/3/30  422515  352273     119.94  341427  239788      142.39
12  2021/3/29  389760  396654      98.26  318945  225292      141.57
13  2021/3/26  383597  344962     111.20  263742  205837      128.13
14  2021/3/25  297353  295719     100.55  210868  179805      117.28
15  2021/3/24  572422  538172     106.36  149872  125593      119.33
16  2021/3/23  384437  397338      96.75  271371  249400      108.81
17  2021/3/22  378409  352204     107.44  246796  218669      112.86
18  2021/3/19  369551  399828      92.43  204342  201660      101.33
19  2021/3/18  318678  328274      97.08  174029  146853      118.51
20  2021/3/17  643634  584907     110.04  105918   89180      118.77

In [110]:
option = pd.read_html("https://www.taifex.com.tw/cht/3/optDailyMarketSummary")

In [120]:
buy_option = option[4]

In [121]:
put_option = option[7]