In [12]:
import numpy as np
import pandas as pd 
import requests as re
import time 
import datetime
import requests
from bs4 import BeautifulSoup

# 整理西元日期用於上市/民國用於上櫃

### ！加入如果日期不對時的東西

In [2]:
# 整理今日日期 用於上櫃資料（民國日期）

today = datetime.date.today()
year = str(int(str(today)[0:4])-1911)
month = str(today)[5:7]
day = str(today)[8:10]
todate = year + '/' + month +'/' + day
print(todate)

# 西元日期
cdate = str(today)[0:4]+str(today)[5:7]+str(today)[8:10]

110/04/21

# 上市

In [3]:
# 上市 外資投信的網頁
sitca="https://www.twse.com.tw/fund/TWT44U?response=html&date=%s"%cdate
foreign="https://www.twse.com.tw/fund/TWT38U?response=html&date=%s"%cdate
b='b'
s='s'

In [19]:
d = requests.get(sitca)
print(d.status_code)
soup = BeautifulSoup(d,"lxml")
#soup = BeautifulSoup(d)

200

TypeError: object of type 'Response' has no len()

In [4]:
# 外資投信上市
def tw(sf, bors):
    data2  = pd.read_html(sf)
    df2 = data2[0]
    
    if "44" in sf:
        need2 = [df2.columns[1], df2.columns[2], df2.columns[5]]
        alldata = df2[need2] #把資料換成dataframe
                
        if bors == "s":
            alldata.columns = ['代號','名稱','投信賣超']
        else:
            alldata.columns = ['代號','名稱','投信買超']
            
    else:
        need2 = [df2.columns[1], df2.columns[2], df2.columns[11]]
        alldata = df2[need2] #把資料換成dataframe
                
        if bors =="s":
            alldata.columns = ['代號','名稱','外資賣超']
            for i in range(len(alldata.index)):
                if len(alldata["代號"][i])>4:
                    alldata=alldata.drop(index=i)
        else:
            alldata.columns = ['代號','名稱','外資買超']
            for i in range(len(alldata.index)):
                if len(alldata["代號"][i])>4:
                    alldata=alldata.drop(index=i)
            
    alldata = alldata.reset_index(drop=True)
    
    
    if bors=="s":
        inds = alldata.loc[alldata.iloc[:,2]<0].index    
        selldata = alldata.iloc[inds,:].reset_index(drop =True) #外資淨賣超
        return selldata
    
    else:
        indb = alldata.loc[alldata.iloc[:,2]>0].index #取得index的數字再放到loc裡
        buydata = alldata.iloc[indb,:].reset_index(drop = True) #外資淨買超
        return buydata

In [5]:
#合計(no use)
def tws(x):
    x =str(x)
    if str(x)=="buy":
        buythemost = pd.merge(tw(foreign,b),tw(sitca,b))
        buythemost['合計']=buythemost['投信買超']+buythemost['外資買超']
        buythemost = buythemost.sort_values(by=['合計'],ascending=False)
        return buythemost
    else:
        sellthemost = pd.merge(tw(foreign,s),tw(sitca,s))
        sellthemost['合計']=sellthemost['投信賣超']+sellthemost['外資賣超']
        sellthemost = sellthemost.sort_values(by =['合計'],ascending=True)
        return sellthemost

In [6]:
total_buy = pd.merge(tw(foreign,b),tw(sitca,b),on=['代號','名稱'],how='outer')
total_sell = pd.merge(tw(foreign,s),tw(sitca,s),on=['代號','名稱'],how='outer')

ValueError: No tables found

In [35]:
total = pd.merge(total_buy,total_sell,on=['代號','名稱'], how= 'outer')
for i in range(len(total)):
    if len(total['代號'][i])>4:
        total = total.drop(index=i)
total

       代號      名稱        外資買超      投信買超    外資賣超       投信賣超
0    2888     新光金  30087018.0    7000.0     NaN        NaN
1    2891     中信金  26305889.0  467924.0     NaN        NaN
2    3545      敦泰  24770182.0       NaN     NaN -3298733.0
3    3037      欣興  20826319.0       NaN     NaN    -8000.0
4    2883     開發金  14168443.0   14746.0     NaN        NaN
..    ...     ...         ...       ...     ...        ...
923  5284  jpp-KY         NaN       NaN -1000.0        NaN
924  6442      光聖         NaN       NaN -1000.0        NaN
925  6671   三能-KY         NaN       NaN -1000.0        NaN
926  8480   泰昇-KY         NaN       NaN -1000.0        NaN
927  9918     欣天然         NaN       NaN -1000.0        NaN

[928 rows x 6 columns]

# 取得同步買超,一買一賣

In [23]:
## 一買一賣

In [40]:
#total[total['外資買超']!='NaN' & total['投信買超']!='NaN']
type(total['外資買超'][0])

numpy.float64

In [54]:
total[(total['外資買超']>0) &(total['投信買超']>0)]

       代號     名稱        外資買超      投信買超  外資賣超  投信賣超
0    2888    新光金  30087018.0    7000.0   NaN   NaN
1    2891    中信金  26305889.0  467924.0   NaN   NaN
4    2883    開發金  14168443.0   14746.0   NaN   NaN
6    2834    臺企銀  11803236.0    4000.0   NaN   NaN
7    2801     彰銀  10622455.0   23000.0   NaN   NaN
..    ...    ...         ...       ...   ...   ...
417  2345     智邦     33974.0   82000.0   NaN   NaN
420  9941     裕融     33000.0    1000.0   NaN   NaN
450  6415  矽力-KY     19101.0   14000.0   NaN   NaN
473  2348     海悅     11000.0   10000.0   NaN   NaN
519  0056  元大高股息      2312.0  521000.0   NaN   NaN

[85 rows x 6 columns]

In [57]:
#外資買投信賣
total[(total['外資買超']>0) &(total['投信賣超']<0)].reset_index()

    index    代號     名稱        外資買超  投信買超  外資賣超       投信賣超
0       2  3545     敦泰  24770182.0   NaN   NaN -3298733.0
1       3  3037     欣興  20826319.0   NaN   NaN    -8000.0
2       5  2882    國泰金  13834614.0   NaN   NaN   -18743.0
3       9  2303     聯電   9414318.0   NaN   NaN  -438796.0
4      21  2504     國產   5093000.0   NaN   NaN  -630000.0
5      36  3706     神達   3513000.0   NaN   NaN    -3000.0
6      41  3714     富采   2960950.0   NaN   NaN    -3000.0
7      51  2338     光罩   2447000.0   NaN   NaN  -126000.0
8      54  1216     統一   2262873.0   NaN   NaN   -48000.0
9      68  2723  美食-KY   1654000.0   NaN   NaN   -17000.0
10     88  2313     華通   1184349.0   NaN   NaN -2579000.0
11     90  2383    台光電   1171519.0   NaN   NaN   -52000.0
12    114  2449   京元電子    842030.0   NaN   NaN    -8000.0
13    115  2347     聯強    833417.0   NaN   NaN    -7000.0
14    116  6438     迅得    831000.0   NaN   NaN  -360000.0
15    120  9938     百和    809171.0   NaN   NaN  -384000.0
16    134  3413     京鼎    710850.0   NaN   NaN  -310000.0
17    140  6269     台郡    640834.0   NaN   NaN    -2000.0
18    182  2371     大同    445000.0   NaN   NaN   -12000.0
19    213  2354     鴻準    331336.0   NaN   NaN    -5000.0
20    226  1597     直得    277000.0   NaN   NaN  -170000.0
21    235  2327     國巨    259936.0   NaN   NaN  -126714.0
22    259  3711  日月光投控    203585.0   NaN   NaN  -105293.0
23    260  2492    華新科    203472.0   NaN   NaN   -51687.0
24    266  3026    禾伸堂    192000.0   NaN   NaN  -110000.0
25    289  2395     研華    157120.0   NaN   NaN    -2000.0
26    303  2474     可成    137151.0   NaN   NaN     -970.0
27    341  6670   復盛應用     85000.0   NaN   NaN   -50000.0
28    386  3653     健策     52000.0   NaN   NaN  -257000.0
29    448  6756   威鋒電子     20000.0   NaN   NaN    -9000.0
30    452  2049     上銀     18765.0   NaN   NaN  -130000.0
31    474  6409     旭隼     11000.0   NaN   NaN    -1000.0
32    478  4935  茂林-KY     10000.0   NaN   NaN   -79000.0
33    488  5215  科嘉-KY      8000.0   NaN   NaN  -130000.0
34    509  0052   富邦科技      3000.0   NaN   NaN  -224000.0

In [59]:
total[(total['外資賣超']<0) &(total['投信買超']>0)].reset_index()

    index    代號   名稱  外資買超        投信買超        外資賣超  投信賣超
0     539  2002   中鋼   NaN  12863059.0 -35521387.0   NaN
1     540  2344  華邦電   NaN  12362000.0 -17010256.0   NaN
2     541  3481   群創   NaN   8548053.0 -21757358.0   NaN
3     542  2610   華航   NaN   7388000.0  -8300776.0   NaN
4     543  2603   長榮   NaN   5198000.0 -15796658.0   NaN
..    ...   ...  ...   ...         ...         ...   ...
64    603  2867  三商壽   NaN      1000.0  -2694000.0   NaN
65    604  6005  群益證   NaN      1000.0 -16723000.0   NaN
66    605  8131  福懋科   NaN      1000.0    -57000.0   NaN
67    606  1516   川飛   NaN       481.0    -12000.0   NaN
68    607  2498  宏達電   NaN       274.0  -1697700.0   NaN

[69 rows x 7 columns]

In [60]:
total[(total['外資賣超']<0) &(total['投信賣超']<0)].reset_index()

    index    代號     名稱  外資買超  投信買超       外資賣超        投信賣超
0     612  2337     旺宏   NaN   NaN -6515229.0   -217000.0
1     614  1312     國喬   NaN   NaN -5630000.0   -187000.0
2     616  2317     鴻海   NaN   NaN -4459085.0  -2855419.0
3     623  1717     長興   NaN   NaN -2729000.0     -2000.0
4     629  1515     力山   NaN   NaN -2086000.0   -793000.0
5     636  3042     晶技   NaN   NaN -1850110.0   -666000.0
6     644  3231     緯創   NaN   NaN -1286188.0  -1165000.0
7     645  3034     聯詠   NaN   NaN -1279266.0   -414000.0
8     646  4958  臻鼎-KY   NaN   NaN -1258537.0   -209000.0
9     664  6443     元晶   NaN   NaN  -714000.0 -10879000.0
10    665  2330    台積電   NaN   NaN  -683347.0   -990493.0
11    671  5871  中租-KY   NaN   NaN  -572645.0   -121000.0
12    676  8046     南電   NaN   NaN  -521569.0   -647000.0
13    680  3665  貿聯-KY   NaN   NaN  -465500.0    -34000.0
14    682  2357     華碩   NaN   NaN  -446165.0      -552.0
15    683  3443     創意   NaN   NaN  -441733.0     -7000.0
16    691  2441     超豐   NaN   NaN  -347000.0   -602000.0
17    712  2454    聯發科   NaN   NaN  -232651.0   -312884.0
18    718  6271    同欣電   NaN   NaN  -213000.0     -3000.0
19    730  4968     立積   NaN   NaN  -147999.0   -202894.0
20    745  3406    玉晶光   NaN   NaN  -105067.0   -116000.0
21    752  6213     聯茂   NaN   NaN   -96000.0     -2000.0
22    753  3661  世芯-KY   NaN   NaN   -92702.0   -258000.0
23    763  3008    大立光   NaN   NaN   -80125.0    -11200.0
24    789  3044     健鼎   NaN   NaN   -51312.0    -71000.0
25    791  5434     崇越   NaN   NaN   -47000.0    -58000.0
26    801  4766     南寶   NaN   NaN   -36334.0    -22000.0
27    877  6743    安普新   NaN   NaN    -6000.0   -311000.0